<%- include('partials/head.html'); %>

    <body>
        <%- include('partials/navbar.html'); %>

            <div class="container">
                <header class="row=">
                    <div class="col-lg-12 text-center">
                        <img src="/img/pews-logo.png" alt="pews" class="animated bounceIn ">
                    </div>

                </header>

            </div>

            <!-- SECTION ONE -->
            <div class="container-fluid" id="about">
                <div class="row bg-dark text-white p-5 text-center">
                    <div class="col-sm-6">
                        <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-6">

                        <h3>Inscribete a nuestro canal de youtube</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quia facilis, soluta voluptates cum necessitatibus repellendus perspiciatis cumque quae possimus magni error quaerat inventore expedita quisquam officia nisi sed aliquid?</p>

                    </div>
                </div>

            </div>

            <%- include('partials/footer.html'); %>


                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/8eedf2f407.js"></script>
    </body>

    </html>